.character-sheet {
  background: #f4efdf;
  min-height: 100vh;
  padding: 32px;
  color: #3a2f1e;
  font-family: "Georgia", serif;
}

.sheet-container {
  max-width: 1400px;
  margin: auto;
}

.sheet-header {
  border-bottom: 2px solid #b59c5b;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.sheet-title {
  font-size: 3rem;
  margin: 0;
  color: #3a2f1e;
  font-family: "Georgia", serif;
  padding-top:20px
}

.sheet-subtitle {
  font-style: italic;
}

.sheet-grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 24px;
}

.panel {
  border: 2px solid #c7b37b;
  background: rgba(255,255,255,0.25);
  padding: 16px;
}

.panel-title {
  font-size: 1.4rem;
  color: #3a2f1e;
  font-family: "Georgia", serif;
  border-bottom: 1px solid #c7b37b;
  margin-bottom: 12px;
  padding-bottom: 4px;
  
}

.stat-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stat-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.stat-circle {
  width: 52px;
  height: 52px;
  border: 3px solid #444;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  background: white;
}

.track {
  display: flex;
  gap: 4px;
}

.track-box {
  width: 28px;
  height: 28px;
  border: 2px solid #444;
  background: white;
}

.track-box.filled {
  background: #444;
}

.moves-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.move-card {
  border-bottom: 1px solid #c7b37b;
  padding-bottom: 10px;
}

.equipment-item {
  border-bottom: 1px dashed #b59c5b;
  padding: 6px 0;
}